<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="display-5">No Dog,No Life!とは？</h1>
    </div>
  </div>
  <div class="row">
    <div class="col_12">
      <h4 class="text-align-center">あなたと愛犬のお出かけ<strong>LIFE</strong>を手助けする<strong>PLACE</strong>（公園、施設、お店）情報を<br>
           みんなで投稿して共有するサイトです。<br>
           あなたと愛犬が感動した体験を他の方にシェアしてあげたり<br>
           他の方の体験を元に愛犬と共に新しい思い出を紡いでください。
      </h4>     
    </div>
  </div>
</div>