<div class=".container-fluid back">
  <div class="row">
      <div class="col-lg-12 text-center top_text">
        <h1 class="display-3">Welcome! No Dog, No Life!!</h1>
        　<h4>あなたと愛犬のお出かけLIFEを手助けするPLACE（公園、施設、お店）情報を<br>
           みんなで投稿して共有するサイトです。<br>
           あなたと愛犬が感動した体験を他の方にシェアしてあげたり<br>
           他の方の体験を元に愛犬と共に新しい思い出を紡いでください。
          </h4>
      </div>
    </div>
 </div>