<div class="back">
  <div class="row top">
    <div class="col-xs-12 col-md-6 col-lg-5 text-center top-text">
      <div class="d-flex align-items-center justify-content-center" style="height:500px;">
        <h1 class="display-4 title">Welcome!<br> No Dog, No Life!!</h1>
      </div>
      <div class="row">
        <div class="col-3 offset-3">
          <%= link_to "LogIn", new_user_session_path, class: "btn-sign-in btn-block" %>
        </div>
         <div class="col-3">
          <%= link_to "SignUp", new_user_registration_path, class: "btn-sign-up btn-block" %>
        </div>
      </div>
    </div>
  </div>
</div>