<div class="back">
  <div class="row top">
    <div class="col-sm-12 col-md-6 col-lg-5 text-center top-text">
      <div class="d-flex align-items-center justify-content-center text-height" style="height:500px;">
        <h1 class="display-4 title">Welcome!<br> No Dog, No Life!!</h1>
      </div>
      <div class="row">
        <div class="col-lg-3 col-sm-10 mb-2 offset-sm-1 offset-lg-2">
          <%= link_to "LogIn", new_user_session_path, class: "btn-sign-in btn-block" %>
        </div>
         <div class="col-lg-3 col-sm-10 offset-sm-1">
          <%= link_to "SignUp", new_user_registration_path, 'data-turbolinks': false, class: "btn-sign-up btn-block" %>
        </div>
      </div>
    </div>
  </div>
</div>