<div class="row row-cols-1 row-cols-md-5 g-6">
  <%= render 'user/posts/post_index', posts: @posts %>
</div>

<div class="row">
  <div class="col-5"></div>
  <div class="col-6 mt-3"><%= paginate @posts %></div>
</div>