/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 .icon {
  height: 45px;
  margin: 0 30px;
 }

 body {
  background-color: #F5F5F5;
 }


footer {
   height: 50px;
   color: #BBBBBB;
}


 #map {
        height: 300px;
        width: 400px;
      }

// SignInのボタン
.btn-sign-in {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  background-image: linear-gradient(#0099FF 0%, #66FFFF 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #5e7fca;
}

.btn-sign-in:hover {
  text-decoration: none;
  color:#ffffff;
  background-image: linear-gradient(#00FFFF 0%, #005FFF 100%);
}

.btn-sign-in:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

// SignUpのボタン
.btn-sign-up {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  background-image: linear-gradient(#009933 0%, #7FFFD4 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #006400;
}

.btn-sign-up:hover {
  text-decoration: none;
  color:#ffffff;
  background-image: linear-gradient(#C9FF2F	 0%, #006400 100%);
}

.btn-sign-up:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

// 決定系ボタン
.btn-create {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  background-image: linear-gradient(#005FFF 0%, #00ECFF 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #0000EE;
}

.btn-create:hover {
  text-decoration: none;
  color:#ffffff;
  background-image: linear-gradient(#0000FF 0%, #13EEFF 100%);
}

.btn-create {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

// 編集系のボタン
.btn-edit {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  background-image: linear-gradient(#FF8C00 0%, #FFCC00 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #c58668;
}

.btn-edit:hover {
  text-decoration: none;
  color:#ffffff;
  background-image: linear-gradient(#FF6633 0%, #FFD700 100%);
}

.btn-edit:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

// 削除系統のボタン
.btn-delete {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  background-image: linear-gradient(#DC143C 0%, #FF33FF 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #C71585 ;
}

.btn-delete:hover {
  text-decoration: none;
  color:#ffffff;
  background-image: linear-gradient(#CC0000 0%, #FF00FF 100%);
}

.btn-delete:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

.n-circle {
  position: absolute;
  padding-left: 1rem;
  padding-top: 0rem;
  color: #efa04c;
}

.fa-bell {
  color: #FFFFFF;
  margin-left: 10px;
}
