// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.body{
  margin: 0;
  padding: 0;
}

.back {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;//topの画像フルスクリーン
  background-image: image-url('background.jpg');

}

.title {
  color: #fff;
}

.top {
  height: 90vh;//親要素の高さ
  background-color: rgba( 0, 0, 0, 0.1); // 透明度を少し暗くする
}

.about_image {
  height: 90%;
  width: 90%;
}
