<% notifications = @notifications.where.not(visitor_id: current_user.id) %>
<% if notifications.exists? %>
  <%= render notifications %>
  <%= paginate notifications %>
<% else %>
<div class="row my-5">
  <div class="col-5 my-4">
    <p>通知はありません</p>
  </div>
</div>  
<% end %>